
#bölümler {
    text-align: center;

}

#aricle-1{
    text-align: center;

}

#article-2 {
    
    padding: 30px;
    margin-left: 50em;
}

li {
    padding: 5px;

}

#KitapTürleri {
    margin: 50px;


}

.books {
    padding: 50px;


}